.header {
  font-weight: 900;
  color: #5a6268;
  margin: 0px;
  font-size: 34px;
  line-height: 48px;
}
.container-main {
  padding: 35px;
  width: 720px;
  border-radius: 5%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.temper1 {
  font-weight: 700;
  color: #5a6268;
  margin: 0px;
  font-size: 96px;
  line-height: 64px;
}
.day1 {
  font-weight: 500;
  color: #5a6268;
  text-align: center;
  margin: 0px;
  font-size: 24px;
  line-height: 24px;
}
.emoji {
  font-weight: 500;
  text-align: center;
  margin: 0px;
  font-size: 54px;
  line-height: 68px;
}
.day2 {
  font-weight: 500;
  color: #5a6268;
  text-align: center;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}
.ctext {
  text-align: center;
  color: #5a6268;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}
.ctitle {
  text-align: center;
  color: #5a6268;
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
}
